.Footer {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(41, 41, 39);
    font-family: "Hind", sans-serif;
    font-style: bolder;
    font-size: 12pt;
    padding-bottom: 197px;
    background-color: rgba(128, 128, 128, 0.603);
  }
  
  .Footer a {
    color: rgb(6, 136, 235);
    text-decoration: none;
    font-family: "Hind", sans-serif;
    cursor: pointer;
    transition: all 150ms ease-in-out;
  }
  
  .Footer a:hover {
    color: rgb(140, 189, 228);
    text-decoration: underline;
  }
  
 .Footer img{
      height: auto;
      max-width: 40px;
      padding: 0;
  }